# OpenRouter API Key
OPENROUTER_API_KEY=your_api_key_here

# Model to use (nemotron is free you just have to signup to OpenRouter https://openrouter.ai/docs/quickstart)
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free

# Optional
APP_ENV=development