# OpenRouter API Key
GOOGLE_API_KEY=

# Model to use (nemotron is free you just have to signup to OpenRouter https://openrouter.ai/docs/quickstart)
GOOGLE_MODEL=gemini-3-flash-preview

# Optional
APP_ENV=development