# OpenRouter API Key
OPENROUTER_API_KEY=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

# Model to use (nemotron is free you just have to signup to OpenRouter https://openrouter.ai/docs/quickstart)
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free

# Optional
APP_ENV=development